<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>log/georgina_%d{yyyy-MM-dd_HH}.log</fileNamePattern>
            <maxHistory>50</maxHistory>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <pattern>{"level":"%level","time":"%date{ISO8601}","thread":"[%thread]","data":"%msg%ex{20}"}%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
