-@ val title: String
-@ val headline: String = title
-@ val subhead: String
-@ val body: String

!!!
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
  body
    .container
      h1= headline
      p.lead= subhead
      != body
      .row
        .col-md-4#main-region Static content
        .col-md-4 SOME
        .col-md-4 DATA
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src="/js/json2.js")
    script(src="/js/underscore.js")
    script(src='/js/backbone.js')
    script(src="/js/backbone.marionette.js")
    script(src="/js/georgina.js")
