-@ val title: String
-@ val headline: String = title
-@ val subhead: String
-@ val body: String

!!!
html
  head
    title= title
    link(rel="stylesheet" type="text/css" href="/css/bootstrap.min.css")
  body
    .container
      h1= headline
      p.lead= subhead
      != body
      .row
        .col-md-3#category-region Transactions
        .col-md-8#main-region Static content
    script(src='/js/jquery.js')
    script(src='/js/bootstrap.js')
    script(src="/js/json2.js")
    script(src="/js/underscore.js")
    script(src='/js/backbone.js')
    script(src="/js/backbone.marionette.js")
    script(src="/js/app.js")
    script(src="/js/entities/category.js")
    script(src="/js/entities/summary.js")
    script(src="/js/entities/transaction.js")
    script(src="/js/apps/transactions/list/list_view.js")
    script(src="/js/apps/transactions/list/list_controller.js")
    script(src="/js/apps/transactions/show/show_controller.js")
    script(src="/js/apps/transactions/show/show_view.js")
    script(src="/js/index.js")
